<h1>投稿一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>コメント</th>
    <th>ユーザー</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr class="main">
    <td><%= image_tag(picture.image.url) if picture.image && picture.image.url %></td>
    <td><%= picture.content %></td>
    <td><%= picture.user.name %></td>

    <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
    <td><%= link_to "編集する", edit_picture_path(picture.id) %></td>
    <td><%= link_to '削除する', picture_path(picture.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }  %></td>
  </tr>
<% end %>
</table>

<footer>
  <%= link_to '新しく投稿する', new_picture_path ,class:"foot"%>
</footer>
